<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.bookkeeping.modules.bkeeping.mapper.IncomeExpenseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hc.bookkeeping.modules.bkeeping.entity.IncomeExpense">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="account_book_id" property="accountBookId" />
        <result column="amount" property="amount" />
        <result column="type" property="type" />
        <result column="date" property="date" />
        <result column="remark" property="remark" />
        <result column="main_classify" property="mainClassify" />
        <result column="sub_classify" property="subClassify" />
        <result column="is_credit_card" property="isCreditCard" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, account_book_id, amount, type, date, remark, main_classify, sub_classify, is_credit_card, create_time, update_time
    </sql>

    <select id="querySumAmount" resultType="java.math.BigDecimal">
        SELECT sum(amount) from income_expense ie
        where
        `date` >= #{beginDate} and `date` &lt;= #{endDate}
        <if test="type != null and type != ''">
            and `type` = #{type}
        </if>
    </select>
</mapper>
